<!DOCTYPE HTML>

<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">


<title>Server List</title>
</head>


<body>

	<div class="container">
		<h3>Servers Available</h3>
		<hr>
		
		<div>
			User: <span sec:authentication="name"></span>
			<br>
			Role(s): <span sec:authentication="principal.authorities"></span>
			<br><br>
		</div>
		
		<!-- Add a button -->
		
		<a th:href="@{/servers/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">Add Server</a>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>IP Address</th>
					<th>Operating System</th>
					<th>Location</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempServer : ${servers}">
					<td th:text="${tempServer.ipAddress}" />
					<td th:text="${tempServer.osDetails}" />
					<td th:text="${tempServer.location}" />
					<!-- Add update button/link -->
					<td>
						<div sec:authorize="hasAuthority('ROLE_EMPLOYEE')"> 
						<a th:href="@{/servers/showFormForUpdate(serverId=${tempServer.id})}"
						class="btn btn-info btn-sm">
							Update
						</a>
						
						</div> 
						
						<div sec:authorize="hasRole('ROLE_EMPLOYEE')"> 
						<a th:href="@{/servers/delete(serverId=${tempServer.id})}"
						class="btn btn-danger btn-sm"
						onClick="if(!(confirm('Are you sure you want to delete this server?'))) return false">
							Delete
						</a>
						</div> 
						
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
	</form>

	</div>
</body>
</html>