<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Server</title>
</head>

<body>

	<div class="container">
	
		<h3>Server Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Server</p>
	
		<form th:action="@{/servers/save}"
			  th:object="${server}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{ipAddress}"
					class="form-control mb-4 col-4" placeholder="IP Address">

		<!--  	<input type="text" th:field="*{osDetails}"
					class="form-control mb-4 col-4" placeholder="Operating System"> -->
			<select id="osDetails" name="osDetails" th:field="*{osDetails}" class="form-control mb-4 col-4">
				<option value="Windows">Windows</option>
				<option value="Linux">Linux</option>
			</select>

			<input type="text" th:field="*{location}"
					class="form-control mb-4 col-4" placeholder="Location">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/servers/list}">Back to Server List</a>
		
	</div>
</body>

</html>










